/* Transactions.css */

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Transaction card styles */
  .transaction-card {
    background-color: #181918;
    margin: 1rem;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }
  
  .transaction-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  