#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo {
  height: 100px;
  width: auto;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}
.logo:hover {
  transform: scale(1.1);
  background-color: #f39c12;
}

.logo.react:hover {
  background-color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.read-the-docs {
  color: #777;
  font-style: italic;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #2980b9;
}
